/* Add your CSS styling here */

/* Add this to your CSS file */
@font-face {
    font-family: 'Fira Code';
    src: url('fonts/FiraCode-Regular.woff2') format('woff2'),
         url('fonts/FiraCode-Regular.woff') format('woff'),
         url('fonts/FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('fonts/FiraCode-Bold.woff2') format('woff2'),
         url('fonts/FiraCode-Bold.woff') format('woff'),
         url('fonts/FiraCode-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}


input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #4cae4c;
}

/* styles.css */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Nunito', sans-serif; /* Nunito is a modern, clean font */
  background-color: #f4f7f6;
  color: #333;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: .5em;
  color: #666;
}

input[type="text"],
select,
input[type="radio"],
button {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4cae4c;
}

.results {
  margin-top: 20px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.results pre {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-family: 'Courier New', Courier, monospace;
}

/* Add some padding at the bottom of the page to ensure the last result isn't covered by anything */
body {
  padding-bottom: 20px;
}

/* Add or adjust this in your styles.css */

/* Customize radio buttons */
.form-group input[type="radio"] {
  margin-right: 10px;
  vertical-align: middle;
}

/* Align text with the radio button */
.form-group label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

/* Additional custom styles for labels of radio buttons */
.radio-label {
  padding-left: 5px;
  margin-right: 15px;
  font-weight: normal; /* Adjust the font-weight as needed */
}

/* Adjust the container for the radio buttons if needed */
.radio-group {
  display: flex;
  align-items: center; /* This ensures vertical centering */
}


.results {
  margin-top: 20px;
  border-top: 1px solid #eaeaea;
}

.message {
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  border-radius: 4px;
}

.message h3 {
  color: #333;
  font-size: 1.2em;
}

.message p {
  color: #666;
  line-height: 1.4;
  margin: 10px 0;
}

/* This adds a hover effect to your message blocks */
.message:hover {
  background-color: #eef2f1;
}

/* Add this to your styles.css file */

/* Ensure that the search container and results container are block elements */
.search-container, .results {
  display: block;
  width: 100%;
}

/* Optional: If you have a flex container wrapping these, ensure it is styled to flow vertically */
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start of the flex container */
}

.results {
  margin-top: 90px;
  max-height: 800px;
  overflow-y: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Style for message content */
.message-content {
  white-space: pre-wrap; /* Since preformatted text can overflow, pre-wrap will keep it within the container */
  word-break: break-word; /* To prevent horizontal scrolling */
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-family: 'Fira Code', monospace;
}




