<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container"">
        <h2>Search Messages</h2>
        <form method="POST">
            {{ form.hidden_tag() }}


            <div class="form-group">
                {{ form.field.label }} 
                {{ form.field(class_='form-control') }}
            </div>

            <div class="form-group">
                {{ form.search.label }} 
                {{ form.search(class_='form-control') }}
            </div>

            <div class="form-group">
              {{ form.match_type.label }}
             
                <label class="radio-label">
                 {{ form.match_type }}
                </label>
               
            </div>

            <div class="form-group">
                <button type="submit">Search</button>
            </div>

        </form>


<hr>

<div class="results">
    {% for message in messages %}
        <div class="message">
            <h3>{{ message.subject }}</h3>
            <p><strong>From:</strong> {{ message.from_email }}</p>
            <p><strong>Date:</strong> {{ message.date }}</p>
            <p><strong>To:</strong> {{ message.to_email }}</p>
            <pre class="message-content">{{ message.content }}</pre>
        </div>
    {% else %}
        <p>No messages to display.</p>
    {% endfor %}
</div>

</body>
</html>
